streamlit
langchain
langchain-community
langchain-groq
faiss-cpu
pypdf
pandas
nltk
scikit-learn
wordcloud
matplotlib
reportlab
fpdf
easyocr
fitz
pytesseract
Pillow
toml
sentence-transformers==2.2.2
transformers==4.30.2
huggingface-hub==0.14.1
rank_bm25
